body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.header{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: rgb(40, 62, 74);
}

.navbar .div0 {
    width: 70px;
    float: left;
    font-size: 12px;
    text-align: center;
    padding: 5px 5px;
}

.navbar a{
    width: 70px;
    float: left;
    color: #c7d1d8;
    text-decoration: none;
}

.navbar a:hover{
    color: #fff;
  }

.vl {
    margin-left: 1px;
    border-left: 1px solid #c7d1d8;
    height: 40px;
    padding: 0px;
}

.dropdown-list{
    padding: 5px;
    color: rgb(145, 145, 145);
}

.dropdown-list:hover{
    background: #c7d1d8;
    color: #000
}

.dropdown-content{
    background: #fff;
    display: none;
    position: fixed;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 50px;
}

.dropdown-list1{
    width: auto;
    text-align: left;
    font-size: 15px;
    font-style: bold;
    text-decoration: none;
    padding: 5px;
    color: rgb(145, 145, 145);
}

.dropdown-list1:hover{
  background: #c7d1d8;
  color: #000
}

.dropdown-content1{
  background: #fff;
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top:330px;
  right: 400px;
}

.dropdown-list2{
  width: auto;
  text-align: left;
  font-size: 15px;
  font-style: bold;
  text-decoration: none;
  padding: 5px;
  color: rgb(145, 145, 145);
}

.dropdown-list2:hover{
background: #c7d1d8;
color: #000
}

.dropdown-content2{
background: #fff;
display: none;
position: absolute;
z-index: 1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
top:940px;
right: 400px;
}

.profile{
    color: rgb(24,111,161);
}

.profile:hover{
    background: rgb(229, 245, 252);
}

.link:hover{
    text-decoration: underline;
}

.logo:hover, .search:hover, .dropbtn:hover{
    cursor: pointer;
}

.main1 {
  padding: 16px;
  margin-top: 70px;
  height: auto;
}

.div1{
    width: 200px;
    height: auto;
    margin-left: 100px;
    float: left;
    padding: 10px;
    font-size: 12px;
}

.div11, .div12{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

.div12{
  top: 70px;
  width: 100%;
}

.div13{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 30px;
}

.div2{
    width: 600px;
    height: auto;
    float: left;
    margin-left: 25px;
}

.div3{
    width: 300px;
    height: auto;
    margin-left: 20px;
    float: left;
}

.inline1:hover{
    color:rgb(0,158,218);
}

.link1{
    color: #000;
    text-decoration: none;
}

.link1:hover{
    text-decoration: underline;
}

.user{
  color: #666;
  text-decoration: none;
}

.user:hover{
  text-decoration: underline;
  color:rgb(0,158,218);
}

.recent, .follow{
    display: display;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 92%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    overflow: hidden;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: #000;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: #000;
  }

  .create{
    float: right; 
    background: rgb(0,96,159); 
    color: #fff; 
    height: 30px;
  }


  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 12px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.foot-links{
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  color: rgb(72,93,105);
}

.foot-links:hover{
  color: rgb(139,188,215);
}

.center{
  margin: 20px;
  color: rgb(72,93,105);
  font-size: 16px;
  width: auto;
  height: auto;
}

.center:hover{
  background-color: rgb(243, 243, 243);
  color: #000;
}

.center1{
  display: inline-block;
  color: rgb(72,93,105);
  font-size: 14px;
  width: auto;
  height: auto;
}

.center1:hover{
  background-color: rgb(243, 243, 243);
  color: #000;
}

hr{
  padding: 0; 
  margin: 0; 
  opacity: 0.4;
}